.itemList{
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    /* width: 100%; */
   
}

.inpMaster{
    border: 1px solid blue;
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.mainCont{
    width: 40%;
    justify-content: center;
    margin: auto;
    border: 1px solid teal;
}